@page
@model HolaWeb.App.Frontend.Pages.ListModel
@{
}

<h1>Listado de Saludos</h1>

<table class="table">
    @foreach(var saludo in Model.ListaSaludos)
    {
        <tr>
            <td>@saludo</td>
        </tr>
    }
</table>

